@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
:root {
  --subject-color-dark: #fff;
  --day-color-dark: #fff;
  --faculty-color-dark: #fff;
  --college-color-dark: #fff;
  --box-shadow-dark: #fff;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.cursor {
  position: absolute;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utility */
.opacity-0 {
  opacity: 0.2;
}

.opacity-1 {
  opacity: 1;
}

/* main */
body {
  background-image: url("../../img/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 2em;
}

.logo img {
  width: 150px;
}

.landing {
  height: 90vh;
  margin: 1rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.85rem;
}

.right {
  border-radius: 0.2em;
  padding: 4.5em 2.2em 6em 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.day ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day ul li {
  margin: 0.2rem;
}

.day ul li span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.last-subjects {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.today-sub ul li {
  margin: 0;
}

.subjects li {
  margin: 0rem 0.2rem;
  overflow: hidden;
}

.subjects li a {
  color: var(--subject-color-light);
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subjects li a,
.today-sub ul li a {
  font-size: 1.8em;
}

.subjects li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.14rem;
  width: 100%;
  border-radius: 2em;
  background-color: var(--subject-color-light);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91), -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
}

.last-subjects li a::after,
.s2 li a::after {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.subjects li a:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.day ul .opacity-1 {
  color: var(--subject-color-light);
}

.last-two {
  margin-top: 4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.last-two .day ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.last-three-days li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subjects li a,
.day ul .opacity-1 {
  color: var(--subject-color-dark);
}

.opacity-1 span {
  color: #d7fdf1;
}

.subjects li a::after {
  background-color: var(--subject-color-dark);
}

.day ul li {
  color: var(--day-color-dark);
}

.college-text,
.sem {
  color: var(--college-color-dark);
}

.faculty {
  color: var(--faculty-color-dark);
}

.right {
  background: rgba(255, 255, 255, 0.258);
  -webkit-box-shadow: 0 8px 32px 0 rgba(137, 137, 137, 0.211);
          box-shadow: 0 8px 32px 0 rgba(137, 137, 137, 0.211);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .right {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

/* media queries */
@media (max-width: 375px) {
  .right {
    padding: 4.5em 1em 6em 1em;
  }
}

@media (max-width: 720px) {
  .logo {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */